body,
html {
    height: 100%;
    background-color: #222;
}

.page-bg {
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-tag {
    text-align: center;
    width: 50%;
    height: 75%;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
}

.tag-m {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 16px;
}

.bg-m {
    opacity: 0.5;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}